.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
      cursor: pointer;
    }
  
    &__content {
      position: relative;
      z-index: 2;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 2rem;
      max-width: 80%;
      width: 30rem;
      height: 12rem;
      text-align: center;

  
      @media screen and (max-width: 600px) {
        width: 90%;
      }
    }
  
    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &__subtitle {
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }
  
    &__links {
      display: flex;
      flex-direction: column;
  
      a {
        cursor: pointer;
        margin-bottom: 0.5rem;
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s;
  
        &:hover {
          color: darken(#00ff91, 10%);
        }
      }
    }
  }